<div class="infoMain">
  <div class="infoLeft">
    <h1 class="Infotitle">
      Bringing Investors and High Quality Projects Together
    </h1>

    <p class="infoDescription">
      Boostx provides its community with fair access to exclusive early-stage
      presale opportunities, allowing you to acquire highly-anticipated tokens
      before they hit the market; while simultaneously giving innovative
      projects the ability to crowdsource funding and build a strong and loyal
      community in the process. Using our game changing presale dashboard
      technology and extensive marketing experience, boostx successfully
      facillitates the launches of multiple high quality blockchain projects.
    </p>
  </div>
  <div class="infoRight">
    <img class="InfoImg" src="../../../assets/Svgs/InfoImg.svg" alt="Info" />
    <img class="infoback" src="../../../assets/Svgs//Infoback.svg" alt="Info" />
  </div>
</div>
