<div class="footerMain">
  <div class="FooterConten">
    <div class="translation">
      <div class="dropdown">
        <!-- Dropdown button -->
        <div class="dropdown">
          <a
            class="nav-link toogleee dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="../../../assets//Svgs/TranslationIcon.svg" alt="TranslationIcon" />
            English
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="BoostXDet">
      <img src="../../../assets/Svgs/boostxFulllogo.svg" alt="Full logo" />
      <p class="FBoostXDescription">
        BoostX is a multi-chain launchpad enabling projects to raise capital,
        market effectively and ensure the safety of early investors.
      </p>

      <div class="sociaIcons">
        <img src="../../../assets/Svgs/linkedin.svg" alt="Linkedin" /><img
          src="../../../assets/Svgs/messenger.svg"
          alt="messenger"
        /><img src="../../../assets/Svgs/twitter.svg" alt="twitter" /><img
          src="../../../assets/Svgs/twoo.svg"
          alt="twoo"
        />
      </div>
    </div>

    <div class="translation">
      <h4>Company</h4>
      <a href="http://gooogle.com">Features</a>
      <a href="http://gooogle.com">About</a>
      <a href="http://gooogle.com">FAQs</a>
    </div>
  </div>

  <p class="Copyright">Copyright @ BoostX 2022. All Rights Reserved.</p>
</div>
