<div class="container">
  <div class="Header">
    <div class="Logo">
      <img src="../../assets/BoostXLogo.png" alt="Logo" />
    </div>
    <div class="Menus">
      <ul>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li><a href="http://google.com">FAQs</a></li>
        <li><a href="http://google.com">About</a></li>
      </ul>
    </div>
    <div class="buttons">
      <button class="signInBtn">Sign In</button>
      <button class="startFree">Start Free</button>
    </div>
  </div>
</div>
