.Header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: auto;
  align-items: center;
  padding: 30px 0px;

  .Menus {
    flex-basis: 30%;
    & > ul {
      display: flex !important;
      align-items: center;
      justify-content: space-between !important;
      width: 100% !important;
      list-style: none;
      & > li {
        & > a {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;

          /* Black */

          color: #494d4c;
        }
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    & > button {
      border: none;
      outline: none;
    }
    .startFree {
      width: 137px;
      height: 52px;
      background: #40c8ff;
      border-radius: 6px;
      font-family: "Manrope";
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #ffffff;
      border-radius: 6px;
    }
    .signInBtn {
      width: 137px;
      height: 52px;
      margin: 0px 10px;
      background-color: transparent;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;

      /* Black */

      color: #494d4c;
    }
  }
}
