<div class="AboutUsMain">
  <div class="aboutUsTop">
    <h1>About</h1>
    <p>
      BoostX provides its community with fair access to exclusive early-stage
      presale opportunities, allowing you to acquire highly-anticipated tokens
      before they hit the market; while simultaneously giving innovative
      projects the ability to crowdsource funding and build a strong and loyal
      community in the process. Using our game changing presale dashboard
      technology and extensive marketing experience, BoostX successfully
      facilitates the launches of multiple high quality blockchain projects.
    </p>
  </div>

  <div class="aboutUsBottom"></div>
</div>
