<div class="container">
  <div class="banner">
    <div class="bannerLeft">
      <div class="title">
        <p>Premium</p>
        <p>Launchpad</p>
        <p>Technology</p>
      </div>
      <div class="subTitle">
        <p>
          End-to-end payments and financial management in a single solution.
          Meet the right platform to help realize.
        </p>
      </div>

      <button class="launchProjectBtn">Launch your Projects</button>
    </div>
    <div class="bannerRight">
      <img src="../../../assets/LaunchImg.png" alt="LaunchImg" />
    </div>
  </div>
</div>
