<div class="FeaturedProjects">
  <div class="container">
    <div class="FeaturedProjectMain">
      <h1 class="FeaturedProjectTitle">Featured Projects</h1>
      <p class="FeaturedProjectsSubtitle">
        Innovative Launchpad Technology created for IDOs with unique features
        designed to boost your project into the stratosphere; live orderbooks,
        dynamic pricing and much more…
      </p>

      <div class="AllFeaturesProjects">
        <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
          <div class="FeaturedProjet">
          <div class="FPInfo">
            <div class="FPInfos">
              <img src="../../../assets/Svgs/GlobIcon.svg" alt="GlobIcon" />
            </div>
            <div class="FPInfos">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
          </div>

          <div class="FpHeader">
            <div class="FpHeaderImg">
              <img src="../../../assets/Svgs/InfoIcon.svg" alt="InfoIcon" />
            </div>
            <div class="FpHeaderDetails">
              <p class="ProjectDate">Sale ended on April 08</p>
              <h1 class="ProjectTitle">Automish Token</h1>
              <p class="ProjectCategory">ATI</p>
            </div>
          </div>
          <p class="ProjectDescription">
            Dynamic pricing. Simulated DeFi orderbook. Every buy increases the
            price.
          </p>
          <div class="FPChannels">
            <div class="FPChannelDet">
              <img
                src="../../../assets/Svgs/BNBChainIcon.svg"
                alt="BNBChainIcon"
              />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
            <div class="FPChannelDet">
              <img src="../../../assets/Svgs/TeleGramIcon.svg" alt="Project" />
              <p class="FPChannelName">Distribution and launch on BNB chain</p>
            </div>
          </div>

          <div class="ProjectButtons">
            <!-- <button class="FPoutlinedBtn">Buy on Seasaw Swap</button> -->
            <button class="FPFilledBtn">Buy on Seasaw Swap</button>
            <div class="preLaunch">
              <p class="preLaunchTitle">Presale launch</p>
              <p class="preLaunchDets">11 ATI = $0.006667</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
