$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$Dodger-Blue: #40c8ff;
$Cerulean: #01a6db;
$Black: #000000;
$Persian-Green: #00aea5;
$white: #ffffff;
